.button-stretch {
  background-color: green;
  color: white;
  border: none;
  font-size: 18px;
  padding: 8px 15px;
  cursor: pointer;
  transition: padding 1s;
}

.button-stretch:hover {
  padding: 18px 36px;
}  

.button--shadow {
  color: white;
  background-color: green;
  border: none;
  font-size: 18px;
  padding: 8px 16px;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.button--shadow:active {
  margin-top: 3px;
  margin-left: 3px;
  box-shadow: none;
}

.button--stretch {
  color: white;
  background-color: green;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  transition: padding 0.15s, margin 0.15s;
}

.button--stretch:hover {
  padding: 8px 25px;
  margin-right: 0px;
  margin-left: 0px;
}
