.button {
  cursor: pointer;
  margin-right: 8px;
  height: 40px;
}

.button--request {
  background-color: black;
  color: white;
  width: 130px;
  
  transition: opacity 0.15s;
}

.button--request:hover {
opacity: 0.8;
}

.button--add {
  background-color: rgb(255, 216, 20);
  border: none;
  color: black;
  width: 180px;
  border-radius: 20px;
  font-size: 16px;
  transition: background-color 0.15s;
}

.button--add:hover {
background-color: rgb(184, 154, 9) ;
}

.button--sign {
  background-color: rgb(46, 164, 79);
  color: white;
  font-weight: bold;
  width: 95px;
  border: none;
  border-radius: 8px;
  margin-right: 8px;
  transition: box-shadow 0.15s;
}

.button--sign:hover {
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.button--get {
  background-color: rgb(121, 82, 179);
  width: 120px;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.15s;
}

.button--get:hover{
background-color:rgb(103, 65, 160) ;
}

.button--download {
  color: rgb(108, 117, 125);
  background-color: white;
  border-color: rgb(108, 117, 125);
  width: 110px;
  border-radius: 3px;
  border-width: 1px;
  transition: background-color 0.15s,
  color 0.15s;
}

.button--download:hover {
background-color:rgb(108, 117, 125) ;
color: white;
}

.button--apply{
  color:white;
  background-color: rgb(69, 69, 248);
  border-radius: 20px;
  width: 200px;
  border: none;
  font-weight: bold;
  transition: background-color 0.15s;
}

.button--apply:hover{
  background-color: rgb(14, 14, 168);
}

.button--save{
  color: rgb(76, 76, 202) ;
  background-color: white;
  border-radius: 20px;
  width: 80px;
  border-color: rgb(76, 76, 202);
  font-weight: bold;
  border-width: 1.5px;
  transition: border-width 0.15s,
  background-color 0.15s;
}

.button--save:hover{
  border-width: 2px;
  background-color: rgba(76, 76, 202, 0.15);
}