.button {
  cursor: pointer;
  margin-right: 8px;
}

.button--request {
  background-color: black;
  color: white;
  width: 130px;
  height: 40px;
}
.button--add {
  background-color: rgb(255, 216, 20);
  border: none;
  color: black;
  width: 180px;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
}

.button--sign {
  background-color: rgb(46, 164, 79);
  color: white;
  font-weight: bold;
  width: 95px;
  border: none;
  height: 40px;
  border-radius: 8px;
  margin-right: 8px;
}

.button--get {
  background-color: rgb(121, 82, 179);
  width: 120px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.button--download {
  color: rgb(108, 117, 125);
  background-color: white;
  border-color: rgb(108, 117, 125);
  width: 110px;
  height: 40px;
  border-radius: 3px;
  border-width: 1px;
  margin-right: 0;
  margin-left: 8px;
}
