.tahoma-5a{
  font-family: Tahoma;
  font-size: 28px;
  font-weight: bold;
}

.arial-5b{
  font-family: Arial;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 0;
}

.arial-5bb{
  font-family: Arial;
  color: red;
  margin-top: 8px;
  font-size: 20px;
  font-style: italic;
}

.text{
  font-family: Verdana;
}

.verdana-5c{
 font-size: 22px; 
 font-weight: bold;
 margin-bottom: 0;
}

.verdana-5cc{
margin-top: 4px;
color: gray;
}

.verdana-5ccc{
  width: 280px;
}

.button{
  background-color: green;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}

.text2{
  font-family: Arial;
}

.arial-5d{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0;
}

.arial-5dd{
  margin-left: 80px;
  margin-top: 12px;
}

.arial-5ddd{
  margin-left: 150px;
  color: blue;
}